body {
    background-color: #f2e1e1;
    margin: 0;
}

.main {
    width: 980px;
    margin: auto;
}

header {
    background-image: url("img1.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 3.3px;
    padding: 180px;

}

#L1 h1 {
    font-size: 65px;
    font-weight: normal;
    margin-bottom: 0;
}

/** neveikia #L1 h2:first-child {...} -- AR PADARYTI SU <h3> ? **/
#L1 h2 {
    font-size: 29px;
    font-weight: normal;
}

#L1 h2:last-child {
    font-size: 30px;
}

.story {
    border: none;
    width: 100%;
    margin: auto;
}

#L2 img {
    margin: 0px auto;
    margin-bottom: 25px;
    filter: grayscale(80%);
    width: 100%;

}

.story h1 {
    color: #757575;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding: 25px;
    margin-top: 50px;
    font-size: 35px;
}

.story p {
    color: #191818;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 15px;
    line-height: 1.8;
}

#button1 {
    display: block;
    margin: 58px auto 75px auto;
    padding: 20px;
    width: 150px;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#button1:hover, #button2:hover {
    background-color: #CCCCCC;
    color: black;
}

#flowers {
    position: relative;
    overflow: hidden;

}

#flowers div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#flowers h1 {
    font-size: 55px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 0;
}

#flowers h2 {
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: normal;
}

#flowers img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#wed h1 {
    color: #757575;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 25px;

}

#wed img {
    margin: 25px auto;
    filter: grayscale(77%);
    width: 100%;
    border-radius: 7px;
}

#dateplace h1 {
    color: #292828;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.8px;
    padding: 10px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: normal;

}

#dateplace p {
    color: #292828;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.3px;
    padding: 5px;
    font-size: 15px;
    font-weight: normal;
}

.float {
    display: inline-block;
    width: 470px;
    border: black;
}

#hope {
    background-color: #ffdddd;
    height: 360px;
}

#hope h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 3.3px;
    padding-top: 75px;
    margin-top: 60px;
    font-size: 37px;
    font-weight: normal;
}

#hope p {
    color: #292828;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
}

#button2 {
    display: block;
    margin: 35px auto;
    padding: 18px;
    width: 145px;
    border-radius: 4px;
    background-color: #f88078;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
}

#black {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-top: 30px;
    margin-bottom: 55px;
}

#black a {
    color: white;
}

#black a:hover {
    color: #4CAF50;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    width: 25%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 55px;
    background-color: RGBA(255, 255, 255, 0.70);
    z-index: 1;
    margin-bottom: 0;
    clear: both;
}

li.hover1:hover {
    background-color: #CCCCCC;
    padding-bottom: 10px;
}

li#hover2:hover {
    background-color: black;
    padding-bottom: 10px;
    color: white;
}

#nav:hover {
    background-color: white;
}





