body {
    background-color: #f2e1e1;
    margin:0;
}
div.main {width: 980px;
margin:auto;}

header {
    background-image: url("img1.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing:  5px;
    padding: 180px;

}

h1.h1size {
    font-size: 60px;
}
h2.h2size {
    font-size: 27px;
}

div.navigation{
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    clear:both;
    overflow: hidden;  /* --> Hoveris neislenda uz meniu ribas */
}
div.navigation a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: black;
    line-height: 1.5;
    text-decoration: none;

}

div.home a:hover {
    background-color: grey;
}

div.rsvp a:hover {
    background-color: black;
}

div.story {
    border: none;
    width: 100%;
    margin: auto;
}


.image2 {margin: 0px auto ;
    filter: grayscale(80%);
    width: 100%;

}

div.story h1 {
    color: #757575;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing:  5px;
    padding: 25px;
    margin-top: 50px
}

div.story p {
    color: #4f4949;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing:  1px;
    font-style: italic;
    font-size: 15px;
}

div.button1 {
    text-align: center;
    background-color: black;
    width: 150px;
    height: 20px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
}

button.b1 {
    background-color: black;
    border-color: black;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


div.button1:hover {
    background-color: grey;
}


button.b1:hover {
    background-color: grey;
    border-color: grey;
}


.button1 a:hover{
    background-color: grey;
    border-color: grey;
}

